.skeleton {
    animation: pulsating alternate 1s infinite;
}

@keyframes pulsating {
    0% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleOut {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lower-third-featured {
    0% {
        max-height: 2rem;
    }
    100% {
        max-height: 0;
        margin-bottom: 0;
    }
}

@keyframes font-scale-down {
    0% {
        font-size: 100%;
    }
    100% {
        font-size: 80%;
    }
}

@keyframes p-progress-spinner-color-white {
    100%,
    0% {
        stroke:white;
    }
}

@keyframes p-progress-spinner-color-blue {
    100%,
    0% {
        stroke: $dark;
    }
}