$enable-shadows: true;

$yellow: #F8E9A1;
$pink: #F76C6C;
$info: #A8D0E6;
$blue: #374785;
$dark: #24305E;
$darkgray: #343a40;
$lightgray: #f8f9fa;

@import 'media-queries';
@import '~bootstrap/scss/bootstrap';
@import '~primereact/resources/themes/saga-blue/theme.css';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700');

@import 'footer';
@import 'forms';
@import 'menus';
@import 'navbar';
@import 'overlays';
@import 'search-bar';
@import 'message';
@import 'tables';
@import 'frontpage';
@import 'page';
@import 'animations';
@import 'flatlist';
@import 'grid-table';
@import 'bigscreen';


body {
    .featured-number {
        color: $dark;
    }

    a {
        color: $blue;
    }

    .p-button-primary {
        background-color: $blue;
        border-color: $blue;
    }

}

img.logo {
    border-radius: 50rem;
    box-shadow: $darkgray 2px 2px 5px;
}

.p-toolbar {
    padding: 0;
    border: none;
}

.fab {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.fab-tooltip {
    transform: translateX(-1rem);

    .p-tooltip-text {
        background-color: rgba($darkgray, .75);
        color: white;
        min-width: max-content;
    }

    .p-tooltip-arrow {
        display: none;
    }
}