$enable-shadows: true;

$yellow: #F8E9A1;
$pink: #F76C6C;
$info: #A8D0E6;
$blue: #374785;
$dark: #24305E;
$darkgray: #343a40;
$lightgray: #f8f9fa;

@import 'media-queries';
@import '~bootstrap/scss/bootstrap';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';

@import 'footer';
@import 'forms';
@import 'menus';
@import 'navbar';
@import 'overlays';
@import 'search-bar';
@import 'message';
@import 'tables';

@import 'frontpage';
@import 'page';


body {
    .featured-number {
        color: $dark;
    }

    a {
        color: $blue;
    }

    .p-button-primary {
        background-color: $blue;
        border-color: $blue;
    }

}

img.logo {
    border-radius: 50rem;
    box-shadow: $darkgray 2px 2px 5px;
}