ol.flatlist {
    padding: 0;

    li.flatlist-item {
        list-style: none;
        display: grid;
        column-gap: .5rem;
        row-gap: .25rem;

        border-radius: .25rem;
        overflow: hidden;
        margin-bottom: .5rem;
        box-shadow: rgba($darkgray, .5) 0rem 0.125rem 0.25rem;
        background-color: white;

        > * {
            max-width: 100%;
            padding-top: .25rem;
            padding-bottom: .25rem;
            align-self: center;

            @include respond-below(sm) {
                &.mobile-span-2 {
                   grid-column: span 2;
                }
   
                &.mobile-span-3 {
                    grid-column: span 3;
                }
            }
        }

        > *:first-child {
            padding-left: 1rem;
        }

        > *:last-child {
            padding-right: 1rem;
        }

        > * > * {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:not(:last-child) {
                margin-bottom: .125rem;
            }
        }

        .mark {
            font-size: 1.2rem;
            font-weight: bold;
            background: none!important;
            color: $dark;
            text-align: right;

            @include respond-below(sm) {
                grid-column: 4 / 5;
                grid-row: 1 / 3;
            }
        }

        .rank {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $dark;
            padding: .125rem .25rem;
            min-width: 100%;
            color: white;
            font-size: 1.2rem;
            height: 100%;

            @include respond-below(sm) {
                grid-column: 1 / 2;
                grid-row: 1 / 3;
            }
        }

        @include respond-below(sm) {
            row-gap: 0;
            
            
            &:not(.no-padding-left) {
                padding-left: 1rem;
                
                > *:first-child {
                    padding-left: 0;
                }
            }
            
            &:not(.no-padding-right) {
                padding-right: 1rem;

                > *:last-child {
                    padding-right: 0;
                }
            }
        }
    }

}