.submenu.p-menu {
    background: none;
    height: fit-content;
    margin-right: 1rem;
    padding: 0;
    border: none;

    .p-menu-list {

        & > .p-menuitem {
            margin: 0;
            background-color: transparent;
            
            .p-menuitem-link {
                padding: 1rem .5rem;
                border-radius: .25rem;

                &:hover, &:focus {
                    box-shadow: none;
                    background-color: rgba($dark, .25);
                }

                
            }
            
            &.step {
                .p-disabled {
                    opacity: 1;
                }
            }

            &.active {
                .p-menuitem-link {
                    font-weight: bold;
                    
                    .p-menuitem-text {
                        color: $dark;
                    }
                }
            }
        }

        & > .p-submenu-header {
            padding: 0;
            background: none;
        }
    }


    .mobile-menu-button {
        
        background-color: $dark;

        &:hover {
            background-color: $blue!important;
        }
    }

}

body .p-menubar {

    &.topnav {
        background-color: $dark;
        border: none;
        border-radius: 0;
    }

    .p-menuitem {
        &.p-menuitem-active {
            .p-menuitem-link {
                background-color: $blue;

                .p-menuitem-text, .p-menuitem-icon, .p-submenu-icon  {
                    color: white;
                }
            }
        }

        .p-menuitem-link {
            &:hover {
                background-color: $blue;
            }
    
            .p-menuitem-text, .p-menuitem-icon, .p-submenu-icon {
                color: white;
            }
        }

        .p-submenu-list {
            .p-menuitem {
                .p-menuitem-link {
                    background-color: white;

                    &:hover {
                        background-color: $lightgray;
                    }
                    
                    .p-menuitem-text, .p-menuitem-icon, .p-submenu-icon {
                        color: $darkgray;
                    }
                }
            }
        }
    }

    .p-menu-list {
        .p-menuitem {
            .p-menuitem-link {
                background-color: white;

                &:hover {
                    background-color: $lightgray;
                }
                
                .p-menuitem-text, .p-menuitem-icon, .p-submenu-icon {
                    color: $darkgray;
                }
            }
        }
    }
    
}

.mobile-sidebar {
    overflow-y: scroll;

    .p-sidebar-content {
        padding: 0;
    }

    .p-sidebar-icons {
        background-color: $dark;
    }

    .p-sidebar-header {
        position: absolute;
        z-index: 1200;
        right: 0;
        color: white;

        .p-sidebar-close-icon {
            color: white;
        }
    }

    .header {
        background-color: $dark;
        padding: 1rem;

        h2 {
            font-size: 1.2rem;
            color: $white;
        }
    }

    .mobile-menu {
        width: 100%;
        border: none;
    }

}